<div class="container">
    <form>
        <p class="h1">Empresa</p>
        <div class="row">
            <div class="col-6">
                <p class="h3">Aula</p>
            </div>
            <div class="col-6">
                <p class="h3">Fecha</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="">Hora Inicio</label>
                    <select class="form-control" id="sel_hora_ini">
                        <option *ngFor="let hora of hInicio">{{hora}}</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="">Hora Fin</label>
                    <select class="form-control" id="sel_hora_fin">
                        <option *ngFor="let hora of hFin">{{hora}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="">Detalle</label>
            <textarea class="form-control" id="txa_descipcion" rows="3"></textarea>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block" (click)="guardar()">Guardar</button>
            </div>
            <div class="col-4"></div>
        </div>
    </form>
</div>