<div class="container">
    <div class="row">
        <div class="col-sm-4" *ngFor="let reserva of reservaciones">
            <div class="border fondo">
                <p class="h3">Empresa</p>
                <div class="row">
                    <div class="col-6">
                        <p class="h5">Fecha</p>
                    </div>
                    <div class="col-6">
                        <p class="h5 float-right">Hora</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-success">Success</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-danger float-right">Danger</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>