<div class="container fondo">
    <p class="h2">Panel de Conficuracion</p>
    <hr>
    <div class="row">
        <div class="col">
            <label for="">Aula</label>
            <select name="lb_aula" id="lb_aula" class="elemento">
                    <option *ngFor="let aula of aulas" value="aula">{{aula}}</option>
                </select>
        </div>
        <div class="col">
            <div class="row">
                <label for="">Fecha</label>
                <input type="date" class="elemento">
            </div>
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary" (click)="aplicar()">Aplicar</button>
        </div>
    </div>
    <div class="row">
        <div class="col" *ngFor="let dia of agenda">
            <div class="border dia">
                <label for="">Mar 5 de Nov</label>
                <div class="border reserva {{color}}" *ngFor="let dia of reserva">
                    <p class="titulo" name="emprese" id="">Empresa</p>
                    <p>hora</p>
                </div>
            </div>
        </div>
    </div>
</div>