<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <p class="h5">Iniciar Secion</p>
                    <form [formGroup]="formGroup" id="formGroup">
                        <div class="form-group">
                            <label for="idCorreo">Usuario</label>
                            <input type="usuario" class="form-control" formControlName="idUsuario" id="idUsuario" placeholder="Usuario">
                            <div *ngIf="formGroup.controls['idUsuario'].dirty">
                                <div class="form-control-feedback text-danger" *ngIf="formGroup.controls['idUsuario'].errors?.required">
                                    El usuario es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Contraseña</label>
                            <input type="password" class="form-control" formControlName="idContrasena" id="idContrasena" placeholder="Contraseña">
                            <div *ngIf="formGroup.controls['idContrasena'].dirty">
                                <div class="form-control-feedback text-danger" *ngIf="formGroup.controls['idContrasena'].errors?.required">
                                    La contraseña es requerida.
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="idRecordar">
                            <label class="form-check-label" for="idRecordar">Recordar</label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" (click)="ingresar()">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>